.app{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content auto 3.3rem;
  grid-template-areas: 
    "content-title"
    "main"
    "nav";
  font-family: arial;
  overflow: hidden;
  position: relative;
}

.main-content{
  grid-area: main;
  overflow-x: auto;
  padding-bottom:2rem ;
}
.nav-bar{
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  padding-block: 0.4rem;
  align-items: center;
}
.nav-icon{
  width: 2.2rem;
  height: 2.2rem;
  margin: 0;
  padding: 0;
}
.nav-icon>img{
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

.content-title{
  grid-area: content-title;
  display: grid;
  grid-template-columns: var(--step-2) auto var(--step-2);
  grid-auto-rows: 1fr;
  grid-template-areas: ". title notification";
  justify-items: center;
  align-content: center;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 0.4rem;
}

.content-title>h1{
  grid-area: title;
  font-size: var(--step-2);
  margin: 0;
}

.content-title>img{
  grid-area: notification;
  width: var(--step-2);
  height: var(--step-2);
  cursor: pointer;
}

.search{
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2.7rem;
  background-color: #eee;
  padding-inline: 1rem;
  border-radius: 10px;
}

.search>img{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.search>input{
  width: calc(100% - 1.5rem);
  padding-left: 1rem;
  height: 2rem;
  border: none;
  background-color: #eee;
}

.special-plate{
  width: calc(100% - 2rem);
  overflow: hidden;
  margin: 1rem;
  display: grid;
  padding: 1rem;
  background: #eee;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: min-content min-content fit-content;
  grid-template-areas: 
    "title image"
    "discount image"
    "btn image";
  border-radius: 10px;
  color: #000;
}

.special-plate > h2{
  grid-area: title;
  margin: 0;
  font-size: 1.3rem;
  margin-right: 0.2rem;
}

.special-plate > p{
  grid-area: discount;
  margin-block: 7px;
  margin-right: 0.2rem;
}

.special-plate>img{
  grid-area: image;
  height: 6rem;
  width: 7rem;
  justify-self: center;
  align-self: center;
  margin-right: 0.3rem;
}

.special-plate>button{
  grid-area: btn;
  width: 70%;
  border: none;
  border-radius: 7px;
  background-color: green;
  color: white;
  cursor: pointer;
  height: var(--step-3);
}

.carrousel{
  overflow-y: hidden;
  max-width: 100%;
  padding-left: 1rem;
  margin: 0 auto;
}

.cards{
  display: flex;
  overflow: auto;
  justify-content: start;
  align-items: flex-start;
}

.card{
  width: calc( var( --step-9 ) + 1rem);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #eee;
  border-radius: 8px;
  margin-right: 3px;
  cursor: pointer;
}
.card>p{
  margin-block: .4rem;
}
.card>img{
  width: var(--step-9);
  height: var(--step-9);
  border-radius: 8px;
}

.menu-nav{
  display: flex;
  overflow-x: auto;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}

.menu-nav > .menu-item{
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  margin-inline: 0.5rem;
  width: auto;
  white-space: nowrap;
  border-top: 3px solid transparent;
  margin-block: 0.5rem;
  cursor: pointer;
}

.menu-item>p{
  margin-block: 0;
}

.menu-item.selected{
  border-top: 3px solid #a00;
 
}

.menu-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  white-space: initial;
}

.item_price{
  color: #050;
}

.cart{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content min-content min-content;
  grid-template-areas: 
    "title"
    "items"
    "count";
  padding-left: 0rem;
  background-color: #eee;
  
}
.cart_title{
  grid-area: title;
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: var(--step-1);
}
.cart_items{
  grid-area: items;
  margin-bottom: 2rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
.cart_count{
  grid-area: count;
  background-color: #fff;
  text-align: center;
  padding-block: 1rem;
  padding-inline: 1rem;
  
}
.cart_ad_msg{
  margin-bottom: 0;
}
.cart_count_estimted{
  display: flex;
  justify-content: space-between;
  font-size: var(--step-1);
}
.cart_checkout{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: orange;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.cart_item{
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-areas: 
  "img title"
  "img price"
  "img amount"
  "img btn";
  background-color: white;
  padding: var(--step--1);
  border-block: 1px solid #000;
  align-content: start;
  justify-items: start;
  grid-gap: 1rem;
}
.item_img{
  grid-area: img;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.item_title{
  grid-area: title;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
.item_amount{
  grid-area: amount;
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.item_price{
  grid-area: price;
  text-align: right;
  margin: 0;
  justify-self: end;
}
.item_btn{
  grid-area: btn;
  height: 1.5rem;
  padding-inline: 0.5rem;
  width: 100%;
}
.item_img>img{
  width: var(--step-8);
  height: var(--step-8);
}
.card_item_btn{
  width: 100%;
  margin-bottom: 6px;
  border: none;
  outline: none;
  border-radius: 6px;
  padding-block: 0.3rem;
  font-weight: bolder;
  font-size: var(--step--1);
  background-color: orange;
  color: #111;
  cursor: pointer;
}
.account_actions{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;
}
.account_actions > .action{
  border-radius: 10px;
  border: 1px solid #aaa;
  height: 6ch;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.action:hover{
  background-color: #eee;
}
.action.logout{
  border-color: #e00;
}
.account_orders{
  padding: var(--step-1);
  height: 100%;
}
.back{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.back > span{
  cursor: pointer;
}

.cards_container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modal{
  width: 80vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  background-color: blue;
}

.close_modal{
  background-color: red;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0;
  cursor: pointer;
}

@media (min-width: 37.5em){
  .account_actions{
    padding: 4rem;
  }
  .app{
    grid-template-columns: 4rem auto;
    grid-auto-rows: min-content 1fr;
    grid-template-areas: 
    "nav content-title"
    "nav main";
    overflow: auto;
  }
  .search{
    width: 70%;
    margin: 1rem auto;
  }
  .main-content{
    grid-area: main;
  }
  .nav-bar{
    grid-area: nav;
    flex-direction: column;
  }
  .special-plate>img{
    height: calc( var(--step-9) - 1.4rem);
    width: var(--step-9);
  }
  
  .carrousel, .special-plate{
    height: fit-content;
  }
  .carrousel>h2{
    width: fit-content;
    margin: 1rem auto;
  }
  .special-plate{
    width: 90%;
  }
  .special{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-content: center;
  }
  .special-plate>button{
    width: calc(100% - 1rem);
  }
  .cart{
    margin-inline: 2rem;
    margin-top: 2rem;
  }
  .cart_items{
      margin-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .cart_item{
    grid-template-rows: min-content min-content min-content;
    grid-template-areas: 
      "img title"
      "img price"
      "btn amount";
  }
}
