*,
*::after,
*::before{
  box-sizing:border-box;
}

body{
  margin: 0;
  padding: 0;
  --main-color: #323952;
  overflow: hidden;
}

#app{
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f58634;
}

::-webkit-scrollbar-thumb {
  background-color: #69b550;
}