*,
*::after,
*::before{
  box-sizing:border-box;
}

body{
  margin: 0;
  padding: 0;
  --main-color: #323952;
  overflow: hidden;
}

#app{
  margin: 0;
}


  #app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width:100%;
    height:100vh;
    overflow: auto;
  }

  .introduction{
    display: grid;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .logo{
    width:100%;
  }

  .logo>img{
    width:45%;
  }

  .presentation,
  .logo,
  .nav-buttons,
  .dot-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .presentation>.img{
    border-radius: 50%;
    overflow: hidden;
    width: 60%;
    height: 60vw;
    margin-top: 1rem;
  }

  .presentation>.img>img{
    height: 100%;
    width: 100%;
  }

  .logo{
    grid-area: logo;
    
  }

  .presentation{
    grid-area: presentation;
  }

  .dot-nav{
    grid-area: nav;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .nav-buttons{
    grid-area: buttons;
    justify-content: space-evenly;

  }

  .introduction{
    grid-template-areas: 
      "logo"
      "presentation"
      "nav"
      "buttons";
    grid-template-rows: repeat(2, auto) min-content auto ;
    font-family: sans-serif;
    height: 100%;
  }  

  .presentation > .description{
    width: 60%;
    text-align: center;
    color: #333;
    font-size: 0.9rem;
  }

  .presentation > .title{
    width: 60%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1.7rem;
  }

  .nav-buttons>.nav-button{
    width: 70%;
    height: 3rem;
    border: none;
    font-size: 1.4rem;
    background: none;
    border-radius: 10px;
    font-weight: bolder;
  }

  .nav-buttons .next{
    background-color: #69b550;
    color: #eee;
  }
  .nav-buttons .log{
    color: #58a441;
    background-color: #eee;
  }

  .dot-item{
    width: 0.8rem;
    height: 0.8rem;
    background-color: #ccc;
    margin-inline: 0.4rem;
    border-radius: 50%;
  }